{
  "root": true,
  "extends": "@react-native-community",
  "rules": {
    "indent": "off",
    "quotes": ["error", "double"],
    "semi": ["error", "never"],
    "no-console": "warn",
    "react/display-name": "off",
    "react/self-closing-comp": ["warn", {"component": true, "html": false}],
    "comma-dangle": "off"
  }
}
